* {
    margin: 0;
    padding: 0;
}
body {
    overflow: hidden;
}

.sky {
    height: 100vh;
    width: 100%;
    background-image: url(background.jpg);
    position: absolute;
    background-repeat: no-repeat;
}

.trees {
    height: 100vh;
    width: 100%;
    background-image: url(trees.png);
    background-size: cover;
    position: absolute;
    top: -217px;
}

.track {
    height: 60vh;
    width: 800vw;
    background-image: url(track.png);
    background-repeat: repeat-x;
    position: absolute;
    top: 57vh;
    animation: carmove linear 13s infinite;

}

.car {
    height: 100px;
    width: 380px;
    background-image: url(car_body.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 444px;
    bottom: 40vh;
    animation: shake linear 1s infinite;
}


.wheel1 img{
    width: 74px;
    position: relative;
    top: 39px;
    left: 45px;
    animation: wheelrotation linear .16s infinite;
}


.wheel2 img{
    width: 77px;
    position: absolute;
    top: 40px;
    left: 235px;
    animation: wheelrotation linear .16s infinite;

}

@keyframes wheelrotation {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes carmove {
    100% {
        transform: translateX(-500vw);
    }
}

@keyframes shake {
    0% {
        transform: translateY(-5px);
    }
    50% {
        transform: translateY(5px);
    }
    100% {
        transform: translateY(-5px);
    }
}